/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.03.2021, 18:12:52
    Author     : Stefan
*/


:root {
    --body-background: #2B292E;
    --body-color: #C0C0C0;
    --nav-background: rgba(1, 103, 161, 0.925);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    color: var(--body-color);
    font-family : corbel, verdana, arial, helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

.cfx::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    height: 200vh;
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* nav styles start */

header {
    background: var(--nav-background);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.logo a {
    background-image: url('/img/tux_wolverine.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 90%;
    color: #fff;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 50px;
    text-decoration: none;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    margin-left: 1em;
    position: absolute;
    top: 0;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: relative;
    width: 2em;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    background: var(--nav-background);
    left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* nav styles end */

.container {
    padding: 12px;
}

#matrix-wrapper {
    box-sizing: border-box;
    color:#001675;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.matrix  .cell {
    background-color: #3d3942;
    filter: alpha(opacity=50);
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 1px;
    opacity: 0.5;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
    width: 18px;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
}

#wrapper > div.activated {
    filter: alpha(opacity=100);
    opacity: 1.0;
}
