/*
 * The MIT License
 * Copyright © 2014-2021 Stefan Frei
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
/* 
    Created on : 18.03.2021, 18:12:52
    Author     : Stefan Frei
*/


:root {
    --color-primary-100: rgba(192, 192, 192);
    --color-primary-600: rgba(1, 103, 161);
    --color-primary-600-925: rgba(1, 103, 161, .925);
    --color-primary-900: rgba(42, 41, 46);

    --color-neutral-100: rgba(255, 255, 255);
    --color-neutral-100-600: rgba(255, 255, 255, .6);
    --color-neutral-200: rgba(224, 224, 224);
    --color-neutral-300: rgba(204, 204, 204);
    --color-neutral-500: rgba(110, 110, 110);
    --color-neutral-700: rgba(51, 51, 51);
    --color-neutral-800: rgba(31, 31, 31);
    --color-neutral-900: rgba(0, 0, 0);

    --font-sans: 'Roboto', Verdana, Arial;
    --font-serif: 'Playfair Display', serif;

    --size-xxs: .125rem;
    --size-xs: .25rem;
    --size-s: .5rem;
    --size-m: .75rem;
    --size-n: 1rem;
    --size-l: 1.375rem;
    --size-xl: 1.5rem;
    --size-xxl: 2.25rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    background: var(--color-primary-900);
    color: var(--color-primary-100);
    font-family : var(--font-sans);
    font-weight: 400;
}

.cfx::after {
    clear: both;
    content: "";
    display: table;
}

/* Generics */
.block {
    display: block;
}

.f-xxl {
    font-size: var(--size-xxl);
}

.f-xl {
    font-size: var(--size-xl);
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.spacer {
    height: 1.875rem;
}

.br-silent-hairline {
    border-right: 1px solid var(--color-neutral-300);
}

.hr {
    background: var(--color-neutral-200);
    height: 1px;
}

.flex {
    display: flex;
}

.flex-just-center {
    justify-content: center;
}

.flex-just-space-evenly {
    justify-content: space-evenly;
}

.flex > .flex-grow-0 {
    flex-grow: 0;
}

.flex > .flex-grow-1 {
    flex-grow: 1;
}

.flex-vec-basis-0 > * {
    flex-basis: 0;
}

.flex-vec-basis-auto > * {
    flex-basis: auto;
}

.flex-vec-grow-0 > * {
    flex-grow: 0;
}

.flex-vec-grow-1 > * {
    flex-grow: 1;
}

.flex-vec-shrink-1 > * {
    flex-shrink: 1;
}

.flex-vec-p-xs > * {
    padding: var(--size-xs);
}

.flex-basis-0 {
    flex-basis: 0;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-5 {
    flex-grow: 5;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-col-rev {
    flex-direction: column-reverse;
}

.flex-dir-row {
    flex-direction: row;
}

.font-silent {
    color: var(--color-neutral-500);
}

.font-xsilent {
    color: var(--color-neutral-300);
}

.just {
    text-align: justify;
}

.lh-std {
    line-height: 1.4rem;
}

.m-0-auto {
    margin: 0 auto;
}
.mb-sm {
    margin-bottom: var(--size-s);
}

.mb-std {
    margin-bottom: var(--size-l);
}

.ml-xs {
    margin-left: var(--size-xs);
}

.ml-std {
    margin-left: var(--size-l);
}

.mr-std {
    margin-right: var(--size-l);
}

.mt-std {
    margin-top: var(--size-l);
}

.pt-std {
    padding-top: var(--size-l);
}

.pr-std {
    padding-right: var(--size-l);
}

.pb-std {
    padding-bottom:var(--size-l);
}

.pl-std {
    padding-left: var(--size-l);
}

.ptb-std {
    padding-bottom: var(--size-l);
    padding-top: var(--size-l);
}

.p-std {
    padding: var(--size-l);
}

.pt-sm {
    padding-top: var(--size-s);
}

.pb-sm {
    padding-bottom: var(--size-s);
}

.ptb-sm {
    padding-bottom: var(--size-s);
    padding-top: var(--size-s);
}

.p-sm {
    padding: var(--size-s);
}

.p-xs {
    padding: var(--size-xs);
}

/* Main containers */
.content {
    padding-top: 5.4375rem;
}

@media screen and (min-width: 800px) {
    .content {
        background-image: url(//unsplash.it/1000/1000);
        background-color: var(--color-neutral-700);
        background-blend-mode: multiply;
        background-size: cover;
    }

    .container {
        background-color: var(--color-neutral-100-600);
        margin: 0 auto;
        padding: var(--size-xl) var(--size-xxl);
        width: 66.75rem;
    }
}
/* Main containers end */


/* Article styles */
article {
    color: var(--color-primary-900);
    position: relative;
}

article a {
    color: var(--color-primary-900);
    text-decoration: none;
}

article figure {
    margin: 0;
}

article h2 {
    font-size: 2rem;
    margin: 0 0 var(--size-l) 0;
}

article img.teaser-image {
    right: var(--size-l);
    position: absolute;
    top: 0;
    z-index: 0;
}

article .box {
    background-color: var(--color-neutral-100);
    
}

article .teaser {
    background-color: var(--color-neutral-100);
    min-height: 25.25rem;
    padding: var(--size-l);
    position: relative;
    width: 20.75rem;
    z-index: 1;
}

article .header-brand {
    color: var(--color-primary-600);
    font-size: 1.25rem;
    margin-bottom: 12px;
}

article .header-main {
    font-size: 2.25rem;
}

article .header-main:hover {
    opacity: 0.8;
}

article .author {
    color: var(--color-neutral-500);
    margin-left: .25rem;
}

article .teaser-para {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.article {
    background: var(--color-neutral-100);
    padding: var(--size-l);
}

.article-header-w {
    max-width: 50rem;
}

.article-header-w h3 {
    font-size: 1.5rem;
}

.article-header-text {
    font-size: 1rem;
}

.articles-body {
    background-color: var(--color-neutral-100);
}

.p-teaser-art-row {
    padding: var(--size-l);
}
/* Article styles end*/
