/*
 * The MIT License
 * Copyright © 2014-2021 Stefan Frei
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
/* 
    Created on : 18.03.2021, 18:12:52
    Author     : Stefan Frei
*/


:root {
    --article-silent-color: #6e6e6e;
    --article-xsilent-color: #cccccc;
    --article-background-color: #fff;
    --article-color: #1f1f1f;
    --article-header-brand-color: rgba(1, 103, 161);
    --article-small-spacing: 8px;
    --article-standard-spacing: 24px;
    --article-xsmall-spacing: 4px;
    --body-background: #2B292E;
    --body-color: #C0C0C0;
    --nav-background: rgba(1, 103, 161, 0.925);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    color: var(--body-color);
    font-family : corbel, verdana, arial, helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

.cfx::after {
    clear: both;
    content: "";
    display: table;
}

.block {
    display: block;
}

/* nav styles start */

header.nav {
    background: var(--nav-background);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.logo a {
    background-image: url('/img/tux_wolverine.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 90%;
    color: #fff;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 50px;
    text-decoration: none;
}

.nav-toggle {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    margin-left: 1em;
    position: absolute;
    top: 0;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: relative;
    width: 2em;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    background: var(--nav-background);
    left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: transform 400ms ease-in-out;
    transform: scale(1, 0);
    transform-origin: top;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header.nav {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        align-items: center;
        background: none;
        display: flex;
        grid-column: 3 / 4;
        justify-content: flex-end;
        left: initial;
        position: relative;
        text-align: left;
        top: initial;
        transition: none;
        transform: scale(1,1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        background: black;
        content: '';
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        right: 0;
        top: -.75em;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* nav styles end */

.align-right {
    text-align: right;
}

.br-silent-hairline {
    border-right: 1px solid var(--article-xsilent-color);
}

.content {
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 82px;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding: 24px 36px;
    width: 1068px;
}

.hr {
    background: #e0e0e0;
    height: 1px;
}

.flex {
    display: flex;
}

.flex-dir-row {
    flex-direction: row;
}

.font-silent {
    color: var(--article-silent-color);
}

.font-xsilent {
    color: var(--article-xsilent-color);
}

.just {
    text-align: justify;
}

.lh-std {
    line-height: 1.4rem;
}
.ml-xs {
    margin-left: var(--article-xsmall-spacing);
}

.pt-std {
    padding-top: var(--article-standard-spacing);
}

.pr-std {
    padding-right: var(--article-standard-spacing);
}

.pb-std {
    padding-bottom:var(--article-standard-spacing);
}

.pl-std {
    padding-left: var(--article-standard-spacing);
}

.ptb-std {
    padding-bottom: var(--article-standard-spacing);
    padding-top: var(--article-standard-spacing);
}

.p-std {
    padding: var(--article-standard-spacing);
}

.pt-sm {
    padding-top: var(--article-small-spacing);
}

.pb-sm {
    padding-bottom: var(--article-small-spacing);
}

.ptb-sm {
    padding-bottom: var(--article-small-spacing);
    padding-top: var(--article-small-spacing);
}

.p-sm {
    padding: var(--article-small-spacing);
}

/* Article styles */
article {
    color: var(--article-color);
    position: relative;
}

article a {
    color: var(--article-color);
    text-decoration: none;
}

article figure {
    margin: 0;
}

article h2 {
    font-size: 2rem;
    margin: 0 0 var(--article-standard-spacing) 0;
}

article img.teaser-image {
    right: var(--article-standard-spacing);
    position: absolute;
    top: 0;
    z-index: 0;
}

article .box {
    background-color: var(--article-background-color);
    
}

article .spacer {
    height: 30px;
}

article .teaser {
    background-color: var(--article-background-color);
    min-height: 404px;
    padding: var(--article-standard-spacing);
    position: relative;
    width: 332px;
    z-index: 1;
}

article .header-brand {
    color: var(--article-header-brand-color);
    font-size: 1.25rem;
    margin-bottom: 12px;
}

article .header-main {
    font-size: 2.25rem;
}

article .header-main:hover {
    opacity: 0.8;
}

article .author {
    color: var(--article-silent-color);
    margin-left: 4px;
}

article .teaser-para {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.article {
    background: var(--article-background-color);
    padding: var(--article-standard-spacing);
}

.article-header-w {
    max-width: 800px;
}

.article-header-w h3 {
    font-size: 1.5rem;
}

.article-header-text {
    font-size: 1rem;
}
/* Article styles end*/
