.finger {
    display: none;
}

.finger img {
    width: 1.5rem;
}

.bio-station > div {
    padding: var(--size-n);
}

.bio-station .bs-employer-large {
    display: none;
}

.bio-station .bs-employer-small {
    display: inline;
}

@media screen and (min-width: 800px) {
    .finger {
        display: flex;
    }

    .bio-station {
        display: flex;
    }

    .bio-station > div {
        padding: var(--size-n);
    }

    .bio-station > div:first-child {
        font-weight: 700;
    }

    .bio-station .bs-employer-large {
        display: block;
        font-weight: 400;
    }

    .bio-station .bs-employer-small {
        display: none;
    }
}
