/* nav styles start */

header.nav {
    background: var(--color-primary-600-925);
    min-height: 5.4375rem;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}

header.nav h1 {
    margin: var(--size-l) 0;
}

.logo a {
    background-image: url('/img/tux_wolverine.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 90%;
    color: var(--color-neutral-100);
    font-weight: 400;
    padding-left: .625rem;
    padding-right: 3.125rem;
    text-decoration: none;
}

.nav-toggle {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    margin-left: var(--size-n);
    position: absolute;
    top: 0;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
    border-radius: var(--size-xxs);
    display: block;
    height: var(--size-xxs);
    position: relative;
    width: 2rem;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: .4375rem;
}

.nav-toggle-label span::after {
    top: .4375rem;
}

nav {
    background: var(--color-primary-600-925);
    left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: transform 400ms ease-in-out;
    transform: scale(1, 0);
    transform-origin: top;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: var(--size-n);
    margin-left: var(--size-n);
}

nav a {
    color: var(--color-neutral-100);
    font-size: 1.2rem;
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--color-neutral-900);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header.nav {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        align-items: center;
        background: none;
        display: flex;
        grid-column: 3 / 4;
        justify-content: flex-end;
        left: initial;
        position: relative;
        text-align: left;
        top: initial;
        transition: none;
        transform: scale(1,1);
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        background: black;
        content: '';
        display: block;
        height: .3125rem;
        left: 0;
        position: absolute;
        right: 0;
        top: -.75rem;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* nav styles end */
